.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  background-color: black;
  padding: 0.8rem;
  color: white;
  border-radius: 0.5rem;
}

.form {
  padding: 1rem;
  background-color: rgba(240, 128, 128, 0.226);
  color: rgb(0, 41, 41);
  margin-top: 1rem;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.form-item {
  display: flex;
  justify-content: space-between;
}

input {
  border: none;
  font-size: 2rem;
  padding: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 2rem;
}
